#search-suggest{
margin: 0 auto;
width: 70%;
max-height: max-content;
padding: 2px;
box-shadow: 5px 6px 18px #888888;
background-color: rgb(246, 246, 238);
border-radius: 5px;
overflow: hidden;

}
.img{
    width: 50px;
    height: 50px;
}
.content-container{
    border-bottom: 0.5px solid black;
}
a{
    text-un:none ;
}